<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarHub_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/country">
                <span class="oi oi-plus" aria-hidden="true"></span> country
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/brand">
                <span class="oi oi-plus" aria-hidden="true"></span> Brand
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/carType">
                <span class="oi oi-plus" aria-hidden="true"></span> CarType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/car">
                <span class="oi oi-plus" aria-hidden="true"></span> Car
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/carSpecification">
                <span class="oi oi-plus" aria-hidden="true"></span> CarSpecification
            </NavLink>
        </div>

       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
