@page "/carType/create"
@using CarHub_Server.Helper;
@inject ICarTypeService _carTypeService
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@attribute [Authorize]

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">Create CarType</h3>

    <div class="col-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>
        }
        else
        {
            <EditForm Model="CarType" OnValidSubmit="CarTypeCreate">
                <DataAnnotationsValidator />
                @*<ValidationSummary/>*@
                <div class="form-group">
                    <label>CarType Name</label>
                    <InputText @bind-Value="CarType.TypeName" class="form-control"></InputText>
                    <ValidationMessage For="()=>CarType.TypeName"></ValidationMessage>
                </div>
                
                <div class="form-group py-2">
                    <button class="btn btn-primary">Create</button>
                    <NavLink href="carType" class="btn btn-secondary">Back to Index</NavLink>
                </div>
            </EditForm>
        }
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    private CarTypeCreateDTO CarType { get; set; } = new CarTypeCreateDTO();
    public bool IsLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsLoading = false;
        }
    }


    private async Task CarTypeCreate()
    {
        var response = await _carTypeService.CreateAsync<APIResponse>(CarType);
        if (response != null && response.IsSuccess)
        {
            await _jsRuntime.ToastrSuccess("CarType Create Sucessfully.");
            _navigationManager.NavigateTo("carType");
        }
        else
        {
            if (response.ErrorMessages.Count > 0)
            {
                await _jsRuntime.ToastrError(response.ErrorMessages.FirstOrDefault());
            }
        }

    }
}
